
#include <os2.h>
#include "mavprint.hpp"

/* italian version */
DLGTEMPLATE ID_PICKQ_IT
BEGIN
	DIALOG "Scelta stampante", ID_PICKQ_IT, 55, 81, 200, 151, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_NOBYTEALIGN
	BEGIN
		CONTROL "Stampanti disponibili", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		LISTBOX IDC_LISTBOX, 16, 80, 170, 58
		CONTROL "Stampa su file", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		AUTOCHECKBOX "~Su file", IDC_TOFILE, 16, 47, 139, 10
		ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
		DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
		PUSHBUTTON "~Impostazioni...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
		PUSHBUTTON "Annulla", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
	END

END

/* english version */
DLGTEMPLATE ID_PICKQ 
BEGIN
	DIALOG "Printer Selection", ID_PICKQ, 55, 81, 200, 151, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_NOBYTEALIGN
	BEGIN
		CONTROL "Available Printers", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		LISTBOX IDC_LISTBOX, 16, 80, 170, 58
		CONTROL "Print to file", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		AUTOCHECKBOX "~To file", IDC_TOFILE, 16, 47, 139, 10
		ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
		DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
		PUSHBUTTON "~Job properties...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
		PUSHBUTTON "Cancel", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
	END

END

